 <div class="col-md-3">
       <h4 class="p-3 sub-title">Pasta:</h4>
       <input type="checkbox" id="alt_selectall" name="selectall" autocomplete="off" onclick="checkAll('pasta')">
       <label class="smaller-label">Check All</label>
       {%for item in ing_results%}
       {%if item['category'] == 'Pasta' %}
       <div class="container form-check">
         <div class="container list_ing">
           <input class="form-check-input pasta" type="checkbox" value="{{item['id']}}" id="{{item['id']}}"
             name="ing_check">
           <label class="form-check-label" for="{{item['id']}}">{{item['name']}}</label>
         </div>
       </div>
       {%endif%}
       {%endfor%}
     </div>


    {# # @app.route("/add_ingredient", methods = ["GET","POST"])
# @flask_login.login_required
# def add_ingredient_page():
#     customer_id = flask_login.current_user.user_id
#     conn = connect_db()
#     cursor = conn.cursor()


#     cursor.execute("SELECT * FROM `Ingredients`")
#     ing_results = cursor.fetchall()



#     if request.method == "POST":
#         is_checked = request.form.getlist('ing_check')

        


#         for ing_id in is_checked:
#             cursor.execute(f"INSERT INTO `CustomerIngredients` (`customer_id`, `ingredient_id`) VALUES ('{customer_id}','{ing_id}');")

            
#         return redirect ("/swiper")
            

#     cursor.close()
#     conn.close

#     return render_template("add_ingredient.html.jinja", ing_results = ing_results)
# #create variable for ingredients selected #}