<div class="col-md-3">
       <h4 class="p-3 sub-title">Sauce:</h4>
       <input type="checkbox" id="alt_selectall" name="selectall" autocomplete="off" onclick="checkAll('sauce')">
       <label class="smaller-label">Check All</label>
       {%for item in ing_results%}
       {%if item['category'] == 'Sauce' %}
       <div class="container form-check">
         <div class="container list_ing">
           <input class="form-check-input sauce" type="checkbox" value="{{item['id']}}" id="{{item['id']}}"
             name="ing_check">
           <label class="form-check-label" for="{{item['id']}}">{{item['name']}}</label>
         </div>
       </div>
       {%endif%}
       {%endfor%}
     </div>
