<nav class="navbar navbar-expand-lg   position-relative">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/images/Pantryfy_logo.png" alt="Pantryfy Logo" width="30" height="30" class="d-inline-block align-top">
      Pantryfy
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
              <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
              <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
            </svg>
            <span class="d-none d-lg-inline">Home</span>
          </a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
            <span class="d-none d-lg-inline">Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addingredient">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            <span class="d-none d-lg-inline">Add an Ingredient</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
              <path d="M2.5 3.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5zM2 7a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10A.5.5 0 0 1 2 7zm0 3.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5z"/>
              <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM4 9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM4 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span class="d-none d-lg-inline">Ingredient Catalogue</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
              <path d="M9.405 1.05a1 1 0 0 0-2.81 0l-.94 1.757a1 1 0 0 1-.757.545l-1.93.28a1 1 0 0 0-.564 1.705l1.4 1.366a1 1 0 0 1 .287.885l-.33 1.927a1 1 0 0 0 1.451 1.054l1.73-.91a1 1 0 0 1 .932 0l1.73.91a1 1 0 0 0 1.451-1.054l-.33-1.927a1 1 0 0 1 .287-.885l1.4-1.366a1 1 0 0 0-.564-1.705l-1.93-.28a1 1 0 0 1-.757-.545L9.405 1.05zM8 5.5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5z"/>
            </svg>
            <span class="d-none d-lg-inline">Settings</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/settings">Profile</a></li>
            <li><a class="dropdown-item" href="/settings/preferences">Preferences</a></li>
          </ul>
        </li>
        <li class="nav-item">
        <div class="nav-link">
         {%  if current_user.is_authenticated%}
  hi {{current_user.username}}
  {% else%}
  </div>
  </li>

  <a href="/signin" class="btn btn-outline-secondary"> Login</a>
  {%endif%}
      </ul>
    </div>
  </div>
</nav>
        